<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">

</head>
<body>

<form action="http://localhost/myapp/src/api/add.php" method="post">
  <ul>
    <li>
      <h2>Add a new item to the database</h2>
    </li>
  <li> <label>Name:</label> <input name="name"></li>
  <li> <label>Spec:</label> <input name="specialization"></li>
  <li> <label>Class:</label> <input name="class"></li>
  </ul>
  <button class="submit" type="submit">Add to base</button>
</form>

</body>

<app-students-list> </app-students-list>

</html>
